[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "lib/scales-fprime-lib"]
	path = lib/scales-fprime-lib
	url = https://github.com/BroncoSpace-Lab/scales-fprime-lib.git
