*.pt
*.pyc
*.h5
*.onnx
*.pth
*.gz
*.png
*.mp4
*.pyc
*.txt
*/myenv
/home/scalesagx/Scales-ML/mnist/data/MNIST
/home/scalesagx/Scales-ML/mnist/myenv
/home/scalesagx/Scales-ML/yolo_project/myvenv
/home/scalesagx/Scales-ML/hugging_face/Depth-Anything-V2/checkpoints
/home/scalesagx/Scales-ML/yolo_project/myvenv
Scales-ML/yolo_project
mnist/conf/defaults.ini
mnist/data/MNIST/raw/t10k-images-idx3-ubyte
mnist/data/MNIST/raw/t10k-labels-idx1-ubyte
mnist/data/MNIST/raw/train-images-idx3-ubyte
mnist/data/MNIST/raw/train-labels-idx1-ubyte

